<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(../../../assets/img/theme/atelier.webp); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">Hello</h1>
        <p class="text-white mt-0 mb-5">This is your profile page. You can see the progress you've made with your work and manage your projects or assigned tasks</p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <!--              <h3 class="mb-0">My account</h3>-->
            </div>
            <div class="col-4 text-right">
              <!--              <a href="#!" class="btn btn-sm btn-primary">Settings</a>-->
              <button (click)="ajouterClient()" class="btn btn-info">Ajouter client</button>

            </div>
          </div>
        </div>
        <div class="card-body">

          <div>
            <h6 class="heading-small text-muted mb-4">Machine information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label"  for="input-first-name">Nom</label>
                    <input [(ngModel)] = "client.nom" type="text" id="input-first-name"  class="form-control form-control-alternative" >
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label"  for="input-first-address">Addresse</label>
                    <input [(ngModel)] = "client.address" type="text" id="input-first-address"  class="form-control form-control-alternative" >
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label"  for="input-first-country">Pays</label>
                    <input [(ngModel)] = "client.country" type="text" id="input-first-country"  class="form-control form-control-alternative" >
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-company">Compagnie</label>
                    <input [(ngModel)] = "client.company" type="text" id="input-last-company"  class="form-control form-control-alternative" >
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-phone">Téléphone</label>
                    <input [(ngModel)] = "client.phone" type="text" id="input-last-phone"  class="form-control form-control-alternative" >
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-email">Email</label>
                    <input [(ngModel)] = "client.email" type="text" id="input-last-email"  class="form-control form-control-alternative" >
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-reference">Reference</label>
                    <input [(ngModel)] = "client.reference" type="text" id="input-last-reference"  class="form-control form-control-alternative">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
<!---->
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!---->
            <!-- Description -->
            <!---->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
