.active-color{
 background-color: #7EBCF1;
}
::ng-deep .options {
  padding: 20px;
  margin-top: 20px;
  background-color:#FFFFFF !important;
}

::ng-deep .caption {
  font-size: 18px;
  font-weight: 500;
}

