<div class="header  pb-4 pt-5 pt-md-8"></div>
<!-- Page content-->
<div class="container-fluid mt--7">
  <!-- Table -->

  <!-- Dark table -->
  <div class="row mt-5">
    <div class="col">
      <div  style="background-color: #FFFFFF !important;" class="card bg-default shadow">
        <div style="background-color: #7EBCF1" class="card-header border-0">
          <h3  class="text-white mb-0">Gestion des Commandes</h3>
          <div *ngIf="listCommande.length==0">
            <h2 style="color: red">Commande vide ..!!</h2>
          </div>
        </div>
        <div *ngIf="listCommande.length>0">
          <div  class="options">
            <dx-check-box
              id="autoExpand"
              [(value)]="expand.autoExpandAll"
              text="sélectionner tous"
            >
            </dx-check-box>
          </div>
                        <div class="table align-items-center table-dark table-flush">
                            <dx-data-grid
                              id="gridContainer"
                              [dataSource]="dataCmd"
                              [showBorders]="true"
                              (onRowUpdated)="updateCmd($event)"
                              (onRowInserted)="addCmd($event)"
                              (onRowRemoved)="delete($event)"
                              [showRowLines]="true"
                              [columnAutoWidth]="true"
                            >
<!--                              <dxo-paging [enabled]="true">-->
<!--                              </dxo-paging>-->
                              <dxo-editing
                                mode="popup"
                                [allowUpdating]="true"
                                [allowAdding]="true"
                                [allowDeleting]="true"
                              >
                                <dxo-popup title="Commande " [showTitle]="true" [width]="700">
                                </dxo-popup>
                              </dxo-editing>
                            <dxi-column caption="Num" dataField="numCmd">
                            </dxi-column>
                            <dxi-column caption="Type" dataField="typeCmd">
                            </dxi-column>

<!--                              <dxi-column *dxTemplate="let types of typesCmd; ">-->
<!--                                <dx-check-box-->
<!--                                  [text]="helper.getCheckBoxText(types)"-->
<!--                                  [value]="helper.getCheckBoxValue(types)"-->
<!--                                  [elementAttr]="helper.getCheckBoxElementAttr(types)"-->
<!--                                  (onValueChanged)="helper.checkBoxValueChanged($event)">-->
<!--                                </dx-check-box>-->
<!--                              </dxi-column>-->
                            <dxi-column caption="Date" dataField="dateCmd" dataType="date"></dxi-column>
                            <dxi-column  caption="Client" dataField="nomClient" [groupIndex]="0">
                              <dxo-lookup [dataSource]="listOfClient"  ></dxo-lookup>
                            </dxi-column>
                              <dxi-column type="buttons" [width]="110">
                                <dxi-button  name="edit"></dxi-button>
                                <dxi-button name="delete"></dxi-button>
                                <dxi-button
                                  hint="Clone"
                                  icon="copy"
                                  [visible]="isCloneIconVisible"
                                  [disabled]="isCloneIconDisabled"
                                  [onClick]=""
                                ></dxi-button>
                              </dxi-column>
<!--                            <dxi-column caption="Articles" dataField="articles" [groupIndex]="0"> </dxi-column>-->
                              <dxo-search-panel placeholder="Recherche..." [visible]="true"></dxo-search-panel>
                              <dxo-paging [pageSize]="10"></dxo-paging>
                              <dxo-group-panel [visible]="true"></dxo-group-panel>
                              <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>

                            </dx-data-grid>
                        </div>

      </div>
    </div>
  </div>
</div>
</div>
