.active-color{
 background-color: #7EBCF1;
}
::ng-deep .options {
  padding: 20px;
  margin-top: 20px;
  background-color:#FFFFFF !important;
}

::ng-deep .caption {
  font-size: 18px;
  font-weight: 500;
}
::ng-deep #container {
  padding: 10px;
}

::ng-deep #container ul {
  list-style-type: none;
  text-align: center;
}

::ng-deep #container ul li {
  display: inline-block;
  width: 160px;
  margin: 10px;
}

::ng-deep #container ul li img {
  width: 100px;
}

::ng-deep .button-info {
  margin: 10px;
}

::ng-deep .dx-popup-content p {
  margin-bottom: 10px;
  margin-top: 0;
}

::ng-deep .master-detail-caption {
  padding: 0 0 5px 10px;
  font-size: 14px;
  font-weight: bold;
}


